
body {
	background: 
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

input {
	font-family: inherit;
	font-size: inherit;
	line-height: 1.5em;
	margin: 0;
	outline: none;
	padding: 0;
    border-radius: none;
    box-shadow: 5.5px 6px rgb(20, 48, 60);   
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

#search input[type="search"] {
	background: #f0f0f0;
	color: black;
	min-width: 130px;
	padding: 3px 7px; 
    border: none;
}

#search input[type="submit"] {
	margin-left:-7px;
    border-radius: 2px;
}