/*
  Colour Palette
  - light green bleu: #acd4ce - rgb(172, 212, 206)
  - green bleu: #488279 -
  - deep green: #4eaeae - rgb(78, 174, 174)
  - grey: #6b6972 - rgb(107, 105, 114)
  - bleu: #235369 - rgb(35, 83, 105)
*/

body {
	background: 
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

input {
	font-family: inherit;
	font-size: inherit;
	line-height: 1.5em;
	margin: 0;
	outline: none;
	padding: 0;
    border-radius: none;
    box-shadow: 5.5px 6px rgb(20, 48, 60);   
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

#search input[type="search"] {
	background: #f0f0f0;
	color: black;
	min-width: 130px;
	padding: 3px 7px; 
    border: none;
}

#search input[type="submit"] {
	margin-left:-7px;
    border-radius: 2px;
}

.shop-cart{
    float: right;
    margin-top: -2.5rem;
}

@media only screen and (min-width: 30em){
    .shop-cart{
        float: right;
        margin-top: -2.5rem;
        margin-right: 50%;
    }
}

@media only screen and (min-width: 30em){
    .shop-cart{
        float: right;
        margin-top: -2.5rem;
        margin-right: 40%;
    }
}

@media only screen and (min-width: 50em){
    .shop-cart{
        float: right;
        margin-top: -2.5rem;
        margin-right: 35%;
    }
}

@media only screen and (min-width: 57em){
    .shop-cart{
        float: right;
        margin-top: -2.5rem;
        margin-right: 28%;
    }
}

@media only screen and (min-width: 72em){
    .shop-cart{
        float: right;
        margin-top: -2.5rem;
        margin-right: 23%;
    }
}


