/*
  Colour Palette
  - light green bleu: #acd4ce - rgb(172, 212, 206)
  - green bleu: #488279 - rgb(72, 130, 121)
  - deep green: #4eaeae - rgb(78, 174, 174)
  - grey: #6b6972 - rgb(107, 105, 114)
  - bleu: #235369 - rgb(35, 83, 105)
*/

h2{
    border-bottom: 2px dotted rgb(172, 212, 206); 
    border-top: none;
}

.description{
    margin: 1rem;   
}

.description p{
    border-left: 2px dotted rgb(35, 83, 105);
    padding-left: 1rem;
    margin-left: 1rem;       
}

.d-2{
    display: none;
}
    
.left-buy{
    float: right;
}

.left-buy h3{
    text-align: right;
}

.price-m{
    margin-right: 5%;
}



@media only screen and (min-width: 30em){
    
   .img-s{
        width: 25rem;
        margin-left: 10%;
    }
    
    .description p{
        width: 25rem;
        margin-left: 2.5rem;    
    }
    
    .price-m{
    margin-right: 35%;
}
    
}

@media only screen and (min-width: 50em){
    
  .d-1{
     display: none;
    }
    
   .d-2{
     display: block;   
    }
    
    .description p{
        width: auto;
        margin-left: 5rem;
    }
    
    .d-2 h2{
        margin-left: 4%;
        width: 95%;
    }
    
    .left-buy{
        margin-top: -6.5rem; 
        margin-right: -3rem;
    }
    
    .price-l{
     margin-right: 5%;
     margin-top: 3rem;
    }
    
}

@media only screen and (min-width: 75em){
    
    .media{
            margin: 5rem 8rem 0 8rem;   
        }
}