/*
  Colour Palette
  - light green bleu: #acd4ce - rgb(172, 212, 206)
  - green bleu: #488279 - rgb(72, 130, 121)
  - deep green: #4eaeae - rgb(78, 174, 174)
  - grey: #6b6972 - rgb(107, 105, 114)
  - bleu: #235369 - rgb(35, 83, 105)
*/

h2{
    border-top: none;
}

.bar{
  	display: inline-block;
	padding: 0rem 2rem ;
	background-color: #a9d0ca;
	border-radius: 0px;
    box-shadow: 5px 3px rgb(148, 181, 176);
    position: absolute;
    margin:-0.2rem auto 0 -0.3rem;

	color: #fff;  
}


.promo-large{
    background-color:rgb(35, 83, 105);
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
}

.body-promo-l{
  margin-top: 3rem;   
}

.bar-btn,
.bar-btn:link,
.bar-btn:visited{
    background-color: none; 
    color: #fff;
    border: none;
}

.bar-btn:hover,
.bar-btn:focus,
.bar-btn:active{
    color: rgb(107, 105, 114);   
}


.promo-large h2{
    color: #fff;   
}

.bar-bottom,
.bar-bottom:link,
.bar-bottom:visited{
	padding: 0rem 1.98rem ;
	background-color: #a9d0ca;
	border-radius: 0px;
    position: absolute;
    margin-top:-3rem;
	color: #fff;
    border: none;
}

.bar-bottom:hover,
.bar-bottom:focus,
.bar-bottom:active{
    background-color: rgb(72, 130, 121);  
}

.product{
    box-shadow: none;
}

.small-promo{
 padding-bottom:2rem;   
}


.promo-img-l{
    
 float: left;    
}
