/*
  Colour Palette
  - light green bleu: #acd4ce - rgb(172, 212, 206)
  - green bleu: #488279 - rgb(72, 130, 121)
  - deep green: #4eaeae - rgb(78, 174, 174)
  - grey: #6b6972 - rgb(107, 105, 114)
  - bleu: #235369 - rgb(35, 83, 105)
*/

html {
  font: normal 100%/1.5 Open Sans, serif; /* 16px/24px */
}

body{
  font-family: lato,serif;
  color: rgb(107, 105, 114);
  margin:0;

}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, table, hr {
  margin: 0 0 1.5rem;
}

.yotta {
  font-size: 3.5832rem;
  line-height: 1.2559;
}

.zetta {
  font-size: 2.9860rem;
  line-height: 1.0047;
}

h1, .exa {
  font-size: 2.4883rem;
  line-height: 1.2056;
}

h2, .peta {
  font-size: 2.0736rem;
  line-height: 1.4468;
}

h3, .tera {
  font-size: 1.7280rem;
  line-height: 1.7361;
}

h4, .giga {
  font-size: 1.4400rem;
  line-height: 1.0417;
}

h5, .mega {
  font-size: 1.2000rem;
  line-height: 1.2500;
}

h6, .kilo {
  font-size: 1.0000rem;
  line-height: 1.5000;
}

small, .milli {
  font-size: 0.8333rem;
  line-height: 1.8000;
}

.micro {
  font-size: 0.6944rem;
  line-height: 2.1600;
}

h1, h2, h3, h4, h5, h6, .brand {
  font-family:Oranienbaum, serif;
  font-weight: 500;
  color: rgb(35, 83, 105);
}

.yotta {
  text-transform: uppercase;
  }

.giga, .tera {
  text-transform: uppercase;
}

::selection {
  background-color: rgb(72, 130, 121) ;
  color: #fff;
}

a,
a:link {
  color:rgb(78, 174, 174);
  text-decoration: none;
  border-bottom: 3px dotted rgb(78, 174, 174);
  transition: all 200ms linear;
}

a:visited {
  color: rgb(172, 212, 206);
  border-bottom-color: rgb(172, 212, 206);
}

a:hover,
a:focus,
a:active {
  color: rgb(35, 83, 105);
  border-bottom-color: rgb(35, 83, 105);
}

ul{
  list-style-type: none;
}

ul li, ol{
  position: relative;
  color:rgb(35, 83, 105);
}

ul li:before {
  content:"△";
  position: absolute;
  font-size: 1.5rem;
  left: -3rem;
  line-height: 1,5rem;
}

li{
  left: 1rem;
  line-height: 2rem;
}

dl dt{
  font-size: 1.1rem;
  font-weight:800;
}

blockquote {
  padding: 0 1.5em 0 1.25em;
  margin: 4em 4rem;
}

blockquote:before {
  content: "‟";
  font-size: 10rem;
  position: absolute;
  color: rgb(172, 212, 206);
  margin-top: -7.5rem;
  margin-left: 20%;
}

caption {
  margin: 0 0 1.5em;
  color: rgb(72, 130, 121);
}

mark {
  background-color: rgba(35, 83, 105,.5);
}

hr {
  border: 1px solid rgb(78, 174, 174);
}

dt {
  display: block;
  font-weight:;
  color: rgb(78, 174, 174);
}

dd {
  margin-left: ;
}

tr{
  border: 2px solid #fff;
}

table {
  margin: ;
  border-collapse: collapse;
  border-spacing: 0;
  background-color:rgba(78, 174, 174, .4);
}

thead {
  font-family:;
  background: rgba();
}

th, td {
  border-bottom: 1px solid #;
  padding: 1em;

}

th {
  color:#fff;
  text-align: left;
  border: 2px solid #fff;
  font-weight: 300;
  background-color:rgba(72, 130, 121, 0.4);
}
