# User Testing Report(keyboard only)

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Sam Faubert}
- {Alex Morrow}
- {Makayla Peacock}

## Tasks keyboard only

1. {Find the girl in pink bracelet}
2. {Add two items to your shopping cart}
3. {how does Koral give back}

---

## Individual Results & Observations

### {Sam Faubert}

- {found the blacelet easy when straight to shop and bracelet page.}
- {with the new keep purchasing button found it easy to go back to shop page to purchase more.}
- {when straight to about page.}
                                                            

### {Alex Morrow}

- {used the search bar was sucessful in way less tabs then the previous.}
- {looking for a back button when he had selected the wrong item.}
- {overall found it easy to select the products on the page.}

### {Makayla Peacock}

- {tabing she was able to select all the items.}
- {was confused on how to go back after she had selected the iteam even tho there is a go back button she did not see it.}
- {had a hard time finding the give back information tryed using search bar but obviously that doesnt work in this case.}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {Were able to complete all the task}

### Serious, Causes Frustration, May Hinder Completion

- {all participant successed all the task…}


### Minor, Annoying, Won’t Hinder Completion

- {could be more of a back button but this could result in weird looking side if there is a back button think it only necesary once product is selected.}
- {because of media queries the shopping cart is selected after search car when in big screen which is confusing.}



---

# User Testing Report(audio only)

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Colombina Anzivino}
- {Ariah Boots}
- {Alyssa Dicaire}

## Tasks keyboard only

1. {Find the peace and Love bracelets}
2. {Add two items to your shopping cart}
3. {Who Started the Company}

---

## Individual Results & Observations

### {Colombina Anzivino}

- {found the bracelet after a while of searching used the search bar}
- {found that the shopping cart did not have a tag so was not seen by viewers.}
- {Since I still have bacon ipsum sometimes its hard to know where she is.}
- {found the founder well}

### {Ariah Boots}

- {Had a hard time finding iteam the image alt isnt working for some reason.}
- {found the go back to iteams button which was helpful again cart button isnt working making it harder for them to know what happening.}
- {found it confusing to use the hearing instead of view in general but was able to find iteams.}

### {Alyssa Dicaire}

- {took a while to get use to the voice command but found the item with difficulty}
- {found that the pictures alt did not work}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {Most participant had a hard time with voice command in general.}
- {They found the iteams in the end}
- {some of the images the alt tags did not work.}

### Serious, Causes Frustration, May Hinder Completion

- {all participant successed all the task…}
- {The shopping cart wasnt saying what it was.}
- {The images alt tag dont work.}


### Minor, Annoying, Won’t Hinder Completion

- {once i fixed the shopping cart now there is a bar and shopping cart at small size disaperes.}