---
layout: default
title: Home
meta: "Finding the unique jewelry. Koral has every thing you have always wanted: fun young"
showbanner: yes
---

<div class=" gutter unit unit-s-1 unit-m-1 unit-l-1">
    <h1>Welcome to Koral</h1>
    <p>Choosing Koral is selecting quality for yourself and  for the woman around you Chose to be unique, Chose quality, Chose Koral and get the best jewelry delivered directly to your door. </p>
    
    <div class="grid">
            
    <div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="promo 1" desc="Super-Duper sale" image="air-dinos/pteranodon.jpg"%}                                            
    </div>
    
    <div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="promo 2" desc="Wow a real dino?!?" image="air-dinos/archeopteryx.jpg"%}                                            
    </div>

    <div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
        {% include promo-small.html title="promo 3" desc="BUY now" image="land-dinos/hadrosaur.jpg"%}                                            
    </div>
    
</div>
</div>