---
layout: default
title: Home
meta: "Finding the unique jewelry. Koral has every thing you have always wanted: fun young"
showbanner: yes
---

<main role="main">
    <div class=" gutter unit unit-s-1 unit-m-1 unit-l-1">
        <h1>Welcome to Koral</h1>
        <p>Choosing Koral is selecting quality for yourself and  for the woman around you Chose to be unique, Chose quality, Chose Koral and get the best jewelry delivered directly to your door. </p>
    </div>
    
    <div class="grid">
            <div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
                {% include promo-small.html title="peace & love" desc="Buy Now" image="bracelets/bracelet1.jpg"%}                                
            </div>
            
            <div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
                {% include promo-small.html title="pink fever" desc="Unreal Deal" image="bracelets/bracelet2.jpg"%}                           
            </div>
        
            <div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
                {% include promo-small.html title="little black" desc="Koral for life" image="bracelets/bracelet3.jpg"%}                        
            </div>
        </div>
        
    <div class="grid">
        <div class="gutter unit unit-s-1 unit-m-1 unit-l-1">
            {% include promo-large.html title="50% off all summer items!" desc="Discover More Here" image="bracelets/bracelet4.jpg"%}
        </div>

</main>