# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Sam Faubert}
- {Alex Morrow}
- {Makayla Peacock}

## Tasks

1. {Find the peace and Love bracelets}
2. {Add two items to your shopping cart}
3. {Who Started the Company}

---

## Individual Results & Observations

### {Sam Faubert}

- {found the bracelet as expected…}
- {did not use the search bar used shop instead}
- {tried clicking on the hole image not just link...these should be fixed.}
- {Goes back to home page not shop}

### {Alex Morrow}

- {used the search bar}
- {did everything as expected}
- {used the navigation very well}

### {Makayla Peacock}

- {Didnt see there was a nav the top}
- {Used the back errow instead of the shop item at the top}
- {Goes know how to go bakc to items}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {Most participant didnt think of using the search bar}
- {All found the items easy in the different way expected}
- {should be a back to items of keep shoping after selecting an item.}
- {Links for promo dont work}

### Serious, Causes Frustration, May Hinder Completion

- {all participant successed all the task…}


### Minor, Annoying, Won’t Hinder Completion

- {I think that all the images should work as links as well}