---
layout: default
title: Shop
meta: Discover all the jewelry Koral has to offer.
---
<nav>
    <ul class="text-center">
                        <li class="list-group-item list-group-item-inline"><a class="{% if page.url == 'bracelet' %}current{% endif%}" href="{{site.baseurl}}bracelet">Bracelets</a></a></li>
                        <li class="list-group-item list-group-item-inline"><a class="{% if page.url == 'necklace' %}current{% endif%}" href="{{site.baseurl}}necklace">Necklaces</a></li>
    </ul>
</nav>

<h1>{{page.title}}</h1>

<div>
    <div class="text-center">
                <p class=" tera">Discover everything Koral has to offer.</p>
    </div>
 </div>


<div class="grid">
    <div class="unit unit-s-1 unit-m-1-2 unit-l-1-2">
        <ul>
        {% for shop in site.pages %}
            {% if shop.category == 'bracelet' %}
                <li class="list-group list-group-item">
                    <a class="tera" href="{{site.baseurl}}{{shop.url}}">
                        <img class="img img-nonflex " src="{{site.baseurl}}/images/{{shop.image}}" alt="">
                        {{shop.title}}
                    </a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    
  <div class="unit unit-s-1 unit-m-1-2 unit-l-2-2">
    <ul>
        {% for shop in site.pages %}
            {% if shop.category == 'necklace' %}
                <li class="list-group list-group-item">
                    <a class="tera" href="{{site.baseurl}}{{shop.url}}">
                        <img class="img img-nonflex " src="{{site.baseurl}}/images/{{shop.image}}" alt="">
                        {{shop.title}}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
  </div>
</div>
