---
layout: default
---
{% include shop-nav.html %}

     <div class="space">
         <div class="media d-1">
            <div class="media-img media-img-stacked">
                <h2 class="space-none tera">{{page.h2}}</h2>
                <img class="img-flex img-s" src="{{site.baseurl}}/images/{{page.image}}" alt="">
            </div>
             
                 <div class="media-body description">
                     <p>{{page.paragraph}}</p>
                    <div class="left-buy description price-m">
                        <h3 class="giga">{{page.price}}</h3>
                        <a class="btn mega" href="{{site.baseurl}}/cart/">Add to Cart</a>
                    </div>
                 </div>
            </div>
         
            <div class="media d-2">
                <h2 class="space-none tera">{{page.h2}}</h2>
                <div class="media-img">
                    <img class="img-flex img-s" src="{{site.baseurl}}/images/{{page.image}}" alt="">
                </div>
            
            <div class="media-body description">
                    <p>{{page.paragraph}}</p>
                
                    <div class="left-buy description price-l">
                        <h3 class="giga">{{page.price}}</h3>
                        <a class="btn mega" href="{{site.baseurl}}/cart/">Add to Cart</a>
                    </div>
            </div>
        </div>
    </div>  

{{content}}